{% extends "base.html" %}
{% load static %}

{% block extra_title %}Kinsale Upholstery &amp; Furniture by {% endblock %}
{% block extra_meta %}
    <meta name="description" content="{{product.description | striptags | truncatechars:160}}">
{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row">
            <div class="card bg-dark text-white rounded-0">
                <img src="{{ MEDIA_URL }}brompton_wide.webp" class="card-img" alt="Newly upholstered sofa">
                <div class="card-img-overlay text-center">
                    <h1 class="hero-title text-white mt-0 mt-md-5 mb-5 mb-sm-3">Custom Made <br>Furnishings &amp; Upholstery</h1>
                    <div class="my-md-3">
                        <p class="card-text"><a href="{% url 'products' %}" class="shop-now-button btn btn-outline-dark btn-lg py-3">Browse Our Collection</a></p>
                    </div>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 pt-5">
                <p>Uplift Upholstery are focussed on the design and manufacture of the finest bespoke upholstered furniture. 
                    We can supply and adapt pieces from our existing range or create something completely new to your own specification. 
                    We pride ourselves on unparalleled quality and attention to detail whilst using the finest crafts people in the area.</p>
                <p>Our workshop is located at Uplift Studios, right in the centre of Kinsale town on West Cork's Wild Atlantic Way.</p>
                <p class="text-center mt-3"><a class="btn btn-outline-dark" href="/pages/about-us/">Read more about us here</a></p>
            </div>
        </div>
    </div>
{% endblock %}