{% extends "base.html" %}
{% load static %}

{% block extra_title %}Kinsale Upholstery &amp; Furniture by {% endblock %}
{% block extra_meta %}
    <meta name="description" content="{{product.description | striptags | truncatechars:160}}">
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-5 text-center">
                <h1 class="display-4 logo-font">Custom Made <br>Furnishings &amp; Upholstery</h1>
                <div class="my-5">
                    <h2><a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Browse Our Collection</a></h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}