html {
    height: 100%;
}

body {

    /*  Colour custom properties */
    --timber-green: #112A26;
    --plantation: #264f48;
    --outer-space: #2c4440;
    --granny-smith: #8aa39f;
    --deep-sea: #00866f;
    --casal: #2c6a60;
    --lynch: #61768a;
    --pale-sky: #6c757d; /* default bootsrap placeholder colour (text-secondary) */
    --shuttle-gray: #555c63;
    --sea-mist: #cee0ce;
    --gray-nurse: #e7ece7;
    --chelsea-gem: #a56900;
    --hibiscus: #b12755;
    --antique-bronze: #6b4605;

    --dark: var(--outer-space);
    --darker: var(--timber-green);
    --dark-opaque: #2c444080;
    --off-white: #f3f6f4;
    --text-light: var(--pale-sky);
    /* accessible contrast ratio */
    --text-muted: var(--shuttle-gray); 
    --bg-lightgrey: var(--gray-nurse);
    --link-color: var(--hibiscus);
    --link-hover-color: var(--timber-green);

    color: #333;
    background-color: var(--off-white);
    font-family: "Rokkitt", Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    font-size: 1.125rem;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5, .logo-font {
    font-family: "Rokkitt", Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-style: normal;
    color: var(--darker);
}

.text-lighter {
    color: var(--granny-smith);
}
/* better / WCAG accessible contrast ratio than bootstrap defaults */
.text-muted {
    color: var(--text-muted) !important;
}
.text-danger {
    color: #d8061a !important;
}

a {
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-thickness: .5px;
    text-underline-offset: 3px;
}

a.nav-link, a.btn, a.dropdown-item {
    text-decoration: none;
}    

a:hover {
    color: var(--link-hover-color);
}

.logo-font {
    text-transform: uppercase;
    font-weight: 200;
    white-space: nowrap;
}

.nav-font {
    font-size: 1.25rem;
}

#topnav .nav-link {
    padding: .5rem;
    margin: 0 .25rem;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
/* increase & override large font awesome icon size */
.fa-xxl {
    font-size: 2em;
}

/* seigaha pattern from https://projects.verou.me/css3patterns/#seigaiha */
.seigaha {
    height: 28px;
    background-image:
radial-gradient(circle at 100% 150%, var(--dark) 24%, var(--granny-smith) 24%, var(--granny-smith) 28%, var(--dark) 28%, var(--dark) 36%, var(--granny-smith) 36%, var(--granny-smith) 40%, transparent 40%, transparent),
radial-gradient(circle at 0    150%, var(--dark) 24%, var(--granny-smith) 24%, var(--granny-smith) 28%, var(--dark) 28%, var(--dark) 36%, var(--granny-smith) 36%, var(--granny-smith) 40%, transparent 40%, transparent),
radial-gradient(circle at 50%  100%, var(--granny-smith) 10%, var(--dark) 10%, var(--dark) 23%, var(--granny-smith) 23%, var(--granny-smith) 30%, var(--dark) 30%, var(--dark) 43%, var(--granny-smith) 43%, var(--granny-smith) 50%, var(--dark) 50%, var(--dark) 63%, var(--granny-smith) 63%, var(--granny-smith) 71%, transparent 71%, transparent),
radial-gradient(circle at 100% 50%, var(--granny-smith) 5%, var(--dark) 5%, var(--dark) 15%, var(--granny-smith) 15%, var(--granny-smith) 20%, var(--dark) 20%, var(--dark) 29%, var(--granny-smith) 29%, var(--granny-smith) 34%, var(--dark) 34%, var(--dark) 44%, var(--granny-smith) 44%, var(--granny-smith) 49%, transparent 49%, transparent),
radial-gradient(circle at 0    50%, var(--granny-smith) 5%, var(--dark) 5%, var(--dark) 15%, var(--granny-smith) 15%, var(--granny-smith) 20%, var(--dark) 20%, var(--dark) 29%, var(--granny-smith) 29%, var(--granny-smith) 34%, var(--dark) 34%, var(--dark) 44%, var(--granny-smith) 44%, var(--granny-smith) 49%, transparent 49%, transparent);
background-size: 50px 25px;

}

/* BUTTON MODIFIERS */
.btn {
    text-transform: uppercase;
    box-shadow: 0 .125rem .75rem rgba(0, 0, 0, .25) !important;
    border-radius: 0;
}
.shop-now-button {
    background: var(--dark);
    color: white;
    min-width: 260px;
}

.btn-dark {
    background: var(--dark);
    color: white;
}

.btn-outline-dark {
    background: white;
    /* use important to override link colors for <a> elements */
    color: var(--link-color) !important; 
    border: 1px solid var(--dark);
}

.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:focus {
    background: var(--darker);
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background: var(--darker);
    color: white;
}

.increment-qty, .decrement-qty {
    padding: .25rem .5rem !important;
}

.text-dark {
    color: var(--dark) !important;
}

.border-dark {
    border: 0.5px solid var(--dark-opaque) !important;
}

.bg-dark {
    background: var(--dark) !important;
}

/* home page hero */
.hero-title {
    font-size: 1.5rem;
}
@media (min-width: 991px) {
    .hero-title {
        font-size: 2.5rem;
    }    
}
/* add shadow to product / card images */
.card-img, .banner-img {
    box-shadow: 0 .125rem .75rem rgba(0, 0, 0, .25) !important;
    border-radius: 0;
    border: 0.5px solid var(--dark-opaque) !important;
}

/* Category badge links on product listing page */
a.category-badge > span.badge:hover {
    background: var(--dark) !important;
    color: #fff !important;
}

/* Back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link, 
.update-link,
.remove-item {
    cursor: pointer;
}

/* Icon modifier for add to cart button */
.add-to-cart-icon {
    vertical-align: -0.05em !important;
}

/* cart icon product count badge */
.product-count-badge {
    position: absolute;
    top: -.75rem;
    right: -.75rem;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--link-color);
    color: #fff;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 76px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--dark);
    position: absolute;
    top: -8px;
    right: 20px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Forms */
.textinput, .emailinput, .numberinput, .textarea, .lazyselect, .btn {
    border: 0.5px solid var(--dark-opaque) !important;
    border-radius: 0;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

/* Allauth form formatting */

.allauth-form-inner-content {

    text-align: center;
    max-width: 24rem;
    margin: 0 auto;

}
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: var(--dark); /* text-secondary */
}

.allauth-form-inner-content input {
    border: 0.5px solid var(--dark-opaque) !important;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder, .form-control::placeholder {
    color: var(--text-light);
    font-style: italic;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    text-transform: uppercase;
    width: 100%;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--dark);
    border: 0.5px solid var(--dark-opaque) !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}


/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Checkout form */
.update-form .form-group {
    margin-bottom: .25rem;
}

/* Site footer */
.site-footer {
    background-color: var(--bg-lightgrey);
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {

    .display-4.logo-font.text-dark {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-dark.rounded-0.btn-lg,
    .btn.btn-dark.rounded-0.btn-lg {
        font-size: 1rem;
    }
}