{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <h1 class="text-center my-5">Error 500 - Internal Server Eroor</h1>
                <div class="text-center mb-5">
                    <p>The server encountered an error and could not process your request.</p>
                    <p>If the problem persists, please <a href="mailto:hostmaster@bristlebird.ie?subject=server%20error">report</a> 
                        the problem and mention this error message and the query that caused it.</p>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-dark btn-lg rounded-0 text-uppercase py-3">Return to shop</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}